@import "../../global.scss";

.portfolioList{
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: normal;
    margin-right: 50px;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .7s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $mainColor;

    &.active{
        background-color: black;
        color: white;
    }
}